<div *ngIf="!saveMode" class="dialog-container">
    <div class="overlay" *ngIf="thinking"></div>
    
    <h1 mat-dialog-title>
        <span *ngIf="!extractedText">🤺 Choose your Battle</span>
        <span *ngIf="extractedText">✅ Confirm your text</span>
    </h1>
    
    <div mat-dialog-content [class.disabled]="thinking">
        <div *ngIf="imagePreview" style="position: relative; display: inline-block; width: 100%;">
            <img [src]="imagePreview" alt="Preview" style="width: 100%; margin-bottom: 10px;" />
            <button class="remove" (click)="removeImage()">✖</button>
        </div>
        <div *ngIf="extractedText">
            {{ extractedText }}
        </div>
    
        <input type="file" id="imageInput" (change)="onImageSelected($event)" accept="image/*" hidden />
        <button
            style="margin-top: 10px; width: 190px;"
            mat-stroked-button color="primary">
            📸 Take Photo
        </button>
        <button
            style="margin-top: 10px; width: 190px;"
            mat-stroked-button
            color="accent"
            (click)="onSelectImage()">
            🖼️ Get From Library
        </button>
    </div>

    <div *ngIf="isAudio" class="audio-player">
      <div class="progress-bar">
        <div
          class="progress"
          [style.width.%]="progress"
        ></div>
      </div>
      <div class="controls">
        <button (click)="pauseAudio()" [disabled]="!isPlaying">⏸ Pause</button>
        <button (click)="resumeAudio()" [disabled]="isPlaying">▶️ Play</button>
        <button (click)="stopAudio()">⏹ Stop</button>
      </div>
    </div>
    
    
    
    <div mat-dialog-actions align="end">
        <button *ngIf="extractedText" mat-button (click)="saveMode = true">
            💾 Save
        </button>
        <button mat-button mat-dialog-close cdkFocusInitial>
            🔙 Cancel
        </button>
    </div>
    
    <!-- Spinner -->
    <div *ngIf="thinking" class="spinner-container">
        <mat-spinner></mat-spinner>
        <p class="spinner-text">{{ loadingText }}</p>
    </div>
</div>

<div *ngIf="saveMode">
    <form [formGroup]="form" class="example-container">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter name" />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="book">Book</mat-option>
          <mat-option value="article">Article</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  
    <div mat-dialog-actions align="end">
      <button [disabled]="form.invalid" mat-button mat-dialog-close (click)="confirmSelection()">
        💾 Save
      </button>
      <button mat-button mat-dialog-close cdkFocusInitial>
        🔙 Cancel
      </button>
    </div>
</div>  